body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.content{
    width: 700px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;

}

.TodoList {
    width: 700px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.header {
    text-align: center;
    padding: 20px;
    margin-bottom: 17px ;
    border: 1px solid#aaa;

}

.header h3 {
    color: #333;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-filter {
    margin-bottom: 20px;
    text-align: center;
}

.task-filter label {
    font-weight: bold;
}

.date-filter {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    font-weight: bold;
   

}

.task-list {
    padding: 0;
}

.task-list li {
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

}

.task-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100px;
    height: 50px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: 0;
    color: #333;
}
#TAY{
    display: none;
}

.close {
    color: #aaa;
    cursor: pointer;
    font-size: 24px;
}

.error {
    color: red;
    font-size: 12px;
    visibility: hidden;

}

.show{
    visibility: visible;
}
#date-Invalid{
    color: black;
    font-size: 15px;
    font-weight: bold;
    background: red ;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
}
#formError{
    color: black;
    font-size: 15px;
    font-weight: bold;
    background: red ;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
}


.btn-secondary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary:hover, .btn-danger:hover {
    opacity: 0.8;
}
.btn-secondary:active, .btn-danger:active {
    opacity: 0.6;
}
.done{
    text-decoration: line-through;
    color: #ccc;
}
